*{
    margin: 0;
    padding: 0;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px 0;
}
.nav-item{
    padding-left: 30px;
}
.navbar-brand img{
    width: 80px;
    height: 50px;
}

@media(max-width:768px){
    /* .main{
        background-size: cover !important;
    } */
    .navbar{
        padding: 10px;
    }

 .navbar-brand img{
        width: 50px;
        height: 30px;
    }
    .main{
        padding: 150px 0 150px !important;
    }
    .main .heads{
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }
    .main .headsPara{
        font-weight: 500 !important;
        padding-top: 20px !important;
        font-size: 16px !important;
        text-align: center;
    }
    .main .serviceBut{
        height: 50px !important;
        width: 130px !important;
        font-size: 15px !important;
    }
    .main .contactBut{
        height: 50px !important;
        width: 130px !important;
        font-size: 15px !important;
    }
    .about .aboutHead{
        font-weight: 600 !important;
    }
    .about .aboutPara{
        font-size: 20px !important;
    }
    .about .aboutImage{
        height: 100% !important;
        width: 80% !important;
    }
    .standFor {
        height: 100% !important;
    }
    .standFor .standHead{
        font-size: 30px !important;
    }
    .standFor .standCap{
        font-size: 26px !important;
    }
    .standFor .standPara{
        font-size: 16px;
    }
}

.navbar .navbar-nav .nav-item .nav-link{
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    left: 904px;
    color: #ffffff;
    text-decoration: none;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: #ffffff;
    color: black
}

.main{
    position: relative;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.58) 10.03%, 
    rgba(255, 255, 255, 0) 100%), 
    linear-gradient(0deg, rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url(../assets/woman.jfif);
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 200px 0 200px;
}

.main .heads{
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
}

.main .headsPara{
    color: white;
    padding-top: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

.main .serviceBut{
    background-color: #E1AC22;
    width: 200px;
    height: 70px;
    border: #E1AC22;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    text-align: center;
}
.main .contactBut{
    background-color: white;
    width: 200px;
    height: 70px;
    border: #E1AC22;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px; 
    color: Black;
}

.about{
    margin-top: 20px;
    height: 50%;
    background-color: white;
}
.about .border{
    height: 3px ;
    width: 55px;
    border: #E1AC22;
    background-color: #E1AC22;
}

.about .aboutHead{
    font-family: 'Lato';
}

.about .aboutPara{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
.about .pic{
    display: flex;
    justify-content: center;
}
.about .aboutImage{
    margin-top: 20px;
    width: 60%;
    height: 80%;
}
.service{
    margin-top: 50px;
    height: 100%;
    background-color: white;
}
.service .serviceHead{
    font-family: 'Lato';
}
/* .service .serve{
    background: #FFFFFF;
    border: 0.5px solid #939393; */
    /* box-sizing: border-box; */
/* } */
.service .border{
    height: 3px ;
    width: 55px;
    border: #E1AC22;
    background-color: #E1AC22;
}
.service p{
    font-family: 'Lato';
}
.service .serviceImg{
    border-radius: 4px;
    align-items: center;
    width: 100%;
    height: 50%;
}
 .col-sm-4:hover .serviceImg{
    background: linear-gradient(0deg, rgba(225, 172, 34, 0.54), rgba(225, 172, 34, 0.54))
}

.standFor {
    background: url(../assets/stand.png);
    height: 60vh;
    width: 100%;
}
.standFor .standHead{
    font-family: 'Lato';
    color: white;
    margin-top: 20px;
}
.standFor .border{
    height: 3px ;
    width: 55px;
    border: 0;
    background: #E1AC22;
}
.standFor .cards{
    /* padding-left: 40px; */
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.standFor img{
    padding: 50px 0 0 40px;
}
.standFor .standCap{
    padding: 50px 0 0 20px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-size: 30px;
    text-align: center;
    width: 190px;
}
.standFor .standPara{
    padding: 20px 0 0 40px;
    color: white;
    font-family: 'Lato';
    font-size: 20px;
}